@import 'reset';
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
body {
  font: 100% $font-stack;
}
li {
  padding: 5px 0;
}
.clear {
  clear: both;
}
.column{
  float:left;
  margin:2% 5%;
}
